body {
    backround-color: #FFFFE0; /* warna kuning cerah */
    font-family: arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
    color: #191970; /* warna teks utama (Biru gelap) */
}

.kartu profil {
    width: 300px;
    margin: 50px auto; /* membuat sudut menjadi melengkung */
    padding: 20px;
    backround-color: white;
    border-radius: 15px; /* membuat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Efek bayangan */
    text-align: center; /* menengahkan semua teks di dalam kartu */
}
.kartu-profil img {
    width: 150px;
    border-radius: 50%; /* trik untuk membuat gambar persegi menjadi
  lingkaram sempurna */
}
